#!/usr/bin/env bash

today() {
	echo -n "Today's date is: "
	date +"%A, %B %-d, %Y"
}

# Create a new directory and enter it
function mkd() {
	mkdir -p "$@" && cd "$_";
}

pdfmerge() {
    gs -dBATCH -dNOPAUSE -q -sDEVICE=pdfwrite -dPDFSETTTINGS=/prepress\
         -sOutputFile=$@ ;
}

apdoc () {
	ansible-doc $1 | grep EXAMPLES -A 100 | less
}
